*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009ad8;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #1e202b;
    color: #bfc1c8;
}

main {
    min-height: 100vh;
    /* padding-bottom: 10rem; */
}

/********* Header ***********/
.logo {
    width: 50px;
}

.navbar-nav .nav-link {
    padding: 0rem 2rem !important;
}
.navbar-nav .nav-link.active {
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}


.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}
/*********** search section *************/

.search-section {
    min-height: 35rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../images/photo.jpg);
    background-position: center;
    background-size: cover;
}

.search-input {
    padding: 1.5rem 2rem;
    background-color: #1e202b;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1.4rem;
}

.submit-btn {
    top: 41%;
    right: 0.4%;
    border: none;
    background-color: var(--primary-color);
    padding: 1rem 4rem;
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
}

/********* weather details section *************/
.weather-details-section {
    position: relative;
    z-index: 1;
}

.details-card {
    background-color: #323544;
    min-height: 35rem;
}

.middle {
    background-color: #262936;
}

.middle .card-header {
    background-color: #222530;
}

.card-header {
    background-color: #2d303d;
}

.condition {
    color: var(--primary-color);
}

.cards-container {
    top: calc(50% - 20rem);
}

/*********** footer *************/
footer {
    background-color: #262936;
    position: relative;
    z-index: 0;
}

.social-links a {
    color: var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    background-color: #1e202b;
    text-decoration: none;
    width: 3.5rem;
    height: 3.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.social-links a:hover {
    background-color: var(--primary-color);
    color: white;
}

/* media queries */
@media (max-width: 768px) {
    .weather-details-section {
        min-height: 95rem;
    }
}